## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
num=10
print(num)

10

2) Imprimir el tipo de dato de la variable 8.5

In [8]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [9]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [40]:
nombre='Micaela'
print(nombre)

Micaela

5) Crear una constante que contenga el número Pi

In [11]:
PI=3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [12]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [1]:
E=2.7125

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [5]:
var1='True'
var2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [3]:
suma1=10+6.5
print(suma1)

16.5

11) Realizar una operación de suma de un número definido como string con un entero

In [1]:
num1='20'
num2=10
suma2=(int('20')+10)
print(suma2)

30

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [5]:
potencia=E**3
print(potencia)

19.957642578124997

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [39]:
num=int(input('Ingrese un número: '))
mult=num*num
print(mult)

25

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [14]:
div1=27/4
print(div1)

6.75

15) De la división anterior solamente mostrar la parte entera

In [15]:
div2=27//4
print(div2)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [16]:
div3=27%4
print(div3)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [17]:
cuenta=4*6+3
print(cuenta)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
"2"==2  #Porque "2" es de tipo string y 2 es de tipo int

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
int("2")==2

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a=float('3,8')
#Porque se debe reemplazar la coma por un punto (3.8)

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
suma=2+'2'
#No está permitido porque son distintos tipos de datos (2 es int y '2' es string)
#No arrojarían el mismo resultado porque si ambos fuesen de tipo int haría una suma de números dando 4 como resultado 
#mientras que si fuesen de tipo string solamente sería una cadena de texto que daría como resultado '22'

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [18]:
menu='''
Menú de comida
1-Pizza         2-Empanadas
3-Milanesas     4-Salir'''
print(menu)

##### ANOTACIÓN DE CLASE #####
# while True:
#     print(menu)
#     entrada=input("Seleccione una opción: ")
#     if entrada == "1":
#         print("Seleccionaste Pizza")
#     elif entrada == "4":
#         break

Menú de comida
1-Pizza         2-Empanadas
3-Milanesas     4-Salir

23) Crear una lista que contenga los números del 1 al 10

In [24]:
listaNum=[1,2,3,4,5,6,7,8,9,10]
print(listaNum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [20]:
print(listaNum[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [37]:
listaNum[2]='Micaela'
print(listaNum)

[1, 2, 'Micaela', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [2]:
matriz=[['A','B','C'],['D','E','F'],['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [3]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [27]:
matriz[1][1]='Z'
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [31]:
matriz[0]=[1,2,3]
print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [32]:
ropa=('Gucci','Zara','Prada','Balenciaga','Nike')
print(ropa)

('Gucci', 'Zara', 'Prada', 'Balenciaga', 'Nike')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [33]:
print(ropa[0])

Gucci

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
ropa[1]='Adidas'
#Porque las tuplas una vez creadas no pueden modificarse

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [34]:
persona={'nombre':'Ema','apellido':'Brown','edad':29,'hobbies':['cantar','bailar','leer']}
print(persona)

{'nombre': 'Ema', 'apellido': 'Brown', 'edad': 29, 'hobbies': ['cantar', 'bailar', 'leer']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [35]:
hobbies=persona.get('hobbies')
print(hobbies)

['cantar', 'bailar', 'leer']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [36]:
persona['edad']=30
print(persona)

{'nombre': 'Ema', 'apellido': 'Brown', 'edad': 30, 'hobbies': ['cantar', 'bailar', 'leer']}